.StatisticsSection {
  margin: 0 auto;
  padding: 40px;
  width: 530px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 5px rgba(0, 4, 63, 0.3);
}

.titleBlockBtn {
  font-size: 35px;
  font-weight: 300;
}

.Statistics {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
}

.StatisticsResoult {
  font-weight: 500;
}
