.Statistics {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
}

.StatisticsResoult {
  font-weight: 500;
}

.badFeedback {
  color: #d31c1c;
}

.goodFeedback {
  color: #020629;
}
