.transactionHistory {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(18, 34, 54, 0.3);
  border-radius: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
  overflow: hidden;
}

.headerTable {
  height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  background-color: #00bcd4;

  & th:not(:last-child) {
    border-right: 1px solid #e0e6e7;
  }
}

.bodyTable {
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: #5c6975;
  letter-spacing: 0;
}

.lineTable {
  &:nth-child(2n) {
    background-color: #ecf2f3;
  }

  &:hover {
    background-color: rgba(0, 187, 212, 0.2);
  }

  & td {
    padding: 5px;

    &:not(:last-child) {
      border-right: 1px solid #e0e6e7;
    }
  }
}
